<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/pg.css">
    <title>Education Web App</title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>

<body>
    <nav>
        <div class="container nav__container">
            <a href="index" class="logo">
                <h4>YourAcademy</h4>
            </a>
            <ul class="nav__menu">
                <li><a href="index">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="facilities">More</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
            <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
            <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
        </div>
    </nav>

    <section class="PgCrousel__container pgSwiper ">
        <div class="swiper-wrapper">

            <div class="pgcrousel swiper-slide">
                <img src="/images/PG/properties/mpg1.jpg" alt="">
            </div>

            <div class="pgtestimonial swiper-slide">
                <img src="/images/PG/properties/mpg2.jpg" alt="">
            </div>

            <div class="pgtestimonial swiper-slide">
                <img src="/images/PG/properties/mpg3.jpg" alt="">
            </div>

        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <!-- <div class="swiper-scrollbar"></div> -->



    </section>

    <div class="property-summary">
        <div class="rating">
            <div class="">
                <i class="uil uil-favorite"></i>
                <i class="uil uil-favorite"></i>
                <i class="uil uil-favorite"></i>
                <i class="uil uil-favorite"></i>
                <i class="uis uis-star-half-alt"></i>
                <p>4 - Star</p>
            </div>
            <div class="interested__container">
                <i class="uil uil-heart"></i>
                <div class="interested-text">3 interested</div>
            </div>
        </div>
        <div class="room__info room-section container">
            <h1>Manglam Paying Guest</h1><br><br>
            <h4><span>Address : </span> Near gate no. 2, Central University of Haryana, Jant-Pali, Mahendragarh, Haryana
                - 123029 </h4>
            <h4><span>Phone : </span> 9876543210 </h4>
            <h4><span>Email : </span> manglamPg@gmail.com </h4>
            <div class="gender__image gen">
                <img class="gender" src="/images/PG/male.png" />
            </div>
        </div>
        <div class="price price-section">
            <p>Price: 56565</p>
            </h3>
            <a href="./ManglamPg" class="btn btn-primary">Book Now</a>
        </div>
    </div>

    <div class="property-amenities">
        <div class="amenities-page-container container">
            <h1>Amenities</h1>
            <div class="amenities">

                <div class="amenities__item">
                    <h4>Building</h4>
                    <div class="amenity-container">
                        <img src="/images/PG/amenities/powerbackup.svg">
                        <span>Power backup</span>
                    </div>
                    <div class="amenity-container">
                        <img src="/images/PG/amenities/lift.svg">
                        <span>Lift</span>
                    </div>
                </div>

                <div class="amenities__item">
                    <h4>Common Area</h4>
                    <div class="amenity-container">
                        <img src="/images/PG/amenities/wifi.svg">
                        <span>Wifi</span>
                    </div>
                    <div class="amenity-container">
                        <img src="/images/PG/amenities/tv.svg">
                        <span>TV</span>
                    </div>
                    <div class="amenity-container">
                        <img src="/images/PG/amenities/rowater.svg">
                        <span>Water Purifier</span>
                    </div>
                    <div class="amenity-container">
                        <img src="/images/PG/amenities/dining.svg">
                        <span>Dining</span>
                    </div>
                    <div class="amenity-container">
                        <img src="/images/PG/amenities/washingmachine.svg">
                        <span>Washing Machine</span>
                    </div>
                </div>

                <div class="amenities__item">
                    <h4>Bedroom</h4>
                    <div class="amenity-container">
                        <img src="/images/PG/amenities/bed.svg">
                        <span>Bed with Matress</span>
                    </div>
                    <div class="amenity-container">
                        <img src="/images/PG/amenities/ac.svg">
                        <span>Air Conditioner</span>
                    </div>
                </div>

                <div class="amenities__item">
                    <h4>Washroom</h4>
                    <div class="amenity-container">
                        <img src="/images/PG/amenities/geyser.svg">
                        <span>Geyser</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="property-about">
        <div class="property-content container">
            <h1>About the Property</h1>
            <p>Furnished studio apartment - share it with close friends! Located in posh area of Bijwasan in Delhi, this
                house is available for both boys and girls. Go for a private room or opt for a shared one and make it
                your
                own abode. Go out with your new friends - catch a movie at the nearest cinema hall or just chill in a
                cafe
                which is not even 2 kms away. Unwind with your flatmates after a long day at work/college. With a common
                living area and a shared kitchen, make your own FRIENDS moments. After all, there's always a Joey with
                unlimited supply of food. Remember, all it needs is one crazy story to convert a roomie into a BFF.
                What's
                nearby/Your New Neighborhood 4.0 Kms from Dwarka Sector- 21 Metro Station.
            </p>
        </div>
    </div>

    <div class="property-rating">
        <div class="rating-page-container container">
            <h1>Property Rating</h1>
            <div class="rating__details">
                <div class="left-rating-container">
                    <div class="rating-criteria">
                        <div class="rating-text">
                            <i class="uil uil-trash-alt"></i>
                            <span class="rating-criteria-text">Cleanliness</span>
                        </div>
                        <div class="rating-criteria-star-container" title="4.3">
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>

                    <div class="rating-criteria">
                        <div class="rating-text">
                            <i class="uil uil-utensils"></i>
                            <span class="rating-criteria-text">Food Quality</span>
                        </div>
                        <div class="rating-criteria-star-container col-6" title="3.4">
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                        </div>
                    </div>

                    <div class="rating-criteria">
                        <div class="rating-text">
                            <i class="uil uil-lock"></i>
                            <span class="rating-criteria-text">Safety</span>
                        </div>
                        <div class="rating-criteria-star-container col-6" title="4.8">
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                        </div>
                    </div>
                </div>

                <div class="right-rating-container">
                    <div class="rating-circle">
                        <h4>4.2</h4>
                        <div class="rating-circle-star-container">
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                            <i class="uil uil-favorite"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="container testimonials__container mySwiper">
        <h2>Student's Tetimonials</h2>
        <div class="swiper-wrapper">

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="/images/avatar1.jpg" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Manmohan Singh</h5>
                    <small>Faculty</small>
                </div>
                <div class="testimonial__body">
                    <p>Comfortable stay, great host, perfect for studies!</p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="/images/avatar2.jpg" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Abhishek Rai</h5>
                    <small>MCA student 2022 Batch</small>
                </div>
                <div class="testimonial__body">
                    <p>Safe, convenient, feels like home!</p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="/images/avatar3.jpg" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Ajay Pan Singh</h5>
                    <small>Law student 2023 batch</small>
                </div>
                <div class="testimonial__body">
                    <p>Friendly atmosphere, amazing amenities, highly recommend!</p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="/images/avatar4.jpg" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Radhe Shyam</h5>
                    <small>Ex B.sc Student</small>
                </div>
                <div class="testimonial__body">
                    <p>Affordable, clean, fantastic location!</p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="/images/avatar5.jpg" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Roushan</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p>Best PG experience ever, exceeded expectations!</p>
                </div>
            </article>

        </div>
        <div class="swiper-pagination"></div>
    </section>

    <footer class="footer">
        <div class="container footer__container">
            <div class="footer__1">
                <a href="index" class="footer__logo">
                    <img src="./images/fulllogo.png" alt="">
                </a>
                <p>Discover a wide range of state-of-the-art college education facilities.</p>
            </div>

            <div class="footer__2">
                <h4>Permalinks</h4>
                <ul class="permalinks">
                    <li><a href="index">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="facilities">More Facilities</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>

            <div class="footer__3">
                <h4>Privacy</h4>
                <ul class="privacy">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Refund Policy</a></li>
                </ul>
            </div>

            <div class="footer__4">
                <h4>Contact Us</h4>
                <div>
                    <p>+91 9876543210</p>
                    <p>gautam@gmail.com</p>
                </div>
                <ul class="footer__socials">
                    <li><a href="#"><i class="uil uil-facebook-f"></i></a></li>
                    <li><a href="#"><i class="uil uil-instagram"></i></a></li>
                    <li><a href="#"><i class="uil uil-twitter"></i></a></li>
                    <li><a href="#"><i class="uil uil-linkedin"></i></a></li>
                </ul>
            </div>

        </div>
        <div class="footer__copyright">
            <small>Copyright &copy; YourAcademy </small>
        </div>
    </footer>

    <script src="/js/script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script class="pgcrousel">
        var pgswiper = new Swiper(".pgSwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            autoplay: {
                delay: 5000,
            },
        });
    </script>

    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            //window width>=600
            breakpoints: {
                600: {
                    slidesPerView: 2
                }
            }
        });
    </script>
</body>