<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/pg.css">
    <link rel="stylesheet" href="/css/BuySell.css">
    <title>Education Web App</title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>

<body>
    <nav>
        <div class="container nav__container">
            <a href="index" class="logo">
                <h4>YourAcademy</h4>
            </a>
            <ul class="nav__menu">
                <li><a href="index">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="facilities">More</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
            <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
            <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
        </div>
    </nav>

    <section class="PgCrousel__container buysellSwiper ">
        <div class="swiper-wrapper">

            <div class="buysellcrousel swiper-slide">
                <img src="/images/buysell/slide-image/pic1.jpg" alt="">
            </div>

            <div class="buysellcrousel swiper-slide">
                <img src="/images/buysell/slide-image/pic2.jpg" alt="">
            </div>

            <div class="buysellcrousel swiper-slide">
                <img src="/images/buysell/slide-image/pic3.jpg" alt="">
            </div>

            <div class="buysellcrousel swiper-slide">
                <img src="/images/buysell/slide-image/pic4.jpg" alt="">
            </div>

            <div class="buysellcrousel swiper-slide">
                <img src="/images/buysell/slide-image/pic5.jpg" alt="">
            </div>

            <div class="buysellcrousel swiper-slide">
                <img src="/images/buysell/slide-image/pic6.jpg" alt="">
            </div>

            <div class="buysellcrousel swiper-slide">
                <img src="/images/buysell/slide-image/pic7.jpg" alt="">
            </div>

            <div class="buysellcrousel swiper-slide">
                <img src="/images/buysell/slide-image/pic8.jpg" alt="">
            </div>

            <div class="buysellcrousel swiper-slide">
                <img src="/images/buysell/slide-image/pic9.jpg" alt="">
            </div>

            <div class="buysellcrousel swiper-slide">
                <img src="/images/buysell/slide-image/pic10.jpg" alt="">
            </div>

            <div class="buysellcrousel swiper-slide">
                <img src="/images/buysell/slide-image/pic11.jpg" alt="">
            </div>

        </div>
        <div class="swiper-pagination"></div>

    </section>

    <section class="container special__offer">
        <div class="special__offer1 ">
            <div class="left__offer">
                <div class="offer__image">
                    <img src="/images/buysell/s2.1.png" alt="">
                </div>
                <div class="offer__text">
                    <p>Holiday Deals</p>
                    <h1>Up to 30% off</h1>
                    <p>Selected Smartphone Brands</p>
                    <a href="#" class="offer-btn btn btn-primary">Shop</a>
                </div>
            </div>
            <div class="right__offer">
                <div class="offer__image">
                    <img src="/images/buysell/s2.2.png" alt="">
                </div>
                <div class="offer__text">
                    <p>Just In</p>
                    <h1>Take Your Sound Anywhere</h1>
                    <p>Top Headphone Brand</p>
                    <a href="#" class="offer-btn btn btn-primary">Shop</a>
                </div>
            </div>
        </div>
    </section>

    <section class="container benifits">
        <div class="benifit">
            <div class="benifit__items">
                <img src="/images/buysell/scooter.png" alt="">
                <h4>Curb-side pickup</h4>
            </div>
            <div class="benifit__items">
                <img src="/images/buysell/package.png" alt="">
                <h4>Free shipping</h4>
            </div>
            <div class="benifit__items">
                <img src="/images/buysell/discount.png" alt="">
                <h4>Low price guaranteed</h4>
            </div>
            <div class="benifit__items">
                <img src="/images/buysell/service.png" alt="">
                <h4>Available to you 24/7</h4>
            </div>
        </div>

    </section>

    <section class="container products">
        <h2>On Sell</h2>
        <div class="product1 ">

            <div class="product__card ">
                <div class="product__image">
                    <img src="/images/buysell/product1/camera.png" alt="">
                </div>
                <div class="product__desc">
                    <p>Canonn FT Vintage SLR 35mm Film Camera.</p>
                    <p><i class="uil uil-rupee-sign"></i>37,999</p>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="star">
                            <path fill="#2a51fb"
                                d="M17.56248,21.55957a1.00275,1.00275,0,0,1-.46531-.11475L12,18.76514,6.90283,21.44482a1.00019,1.00019,0,0,1-1.45117-1.0542l.97363-5.67578-4.12353-4.019a1.00033,1.00033,0,0,1,.5542-1.706l5.69873-.82813L11.103,2.99805a1.04173,1.04173,0,0,1,1.79394,0l2.54834,5.16357,5.69873.82813a1.00033,1.00033,0,0,1,.5542,1.706l-4.12353,4.019.97363,5.67578a1,1,0,0,1-.98586,1.169Z">
                            </path>
                        </svg>
                        4.6 (25)
                    </p>
                </div>
                <div class="buy-btn">
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>

            <div class="product__card">
                <div class="product__image">
                    <img src="/images/buysell/product1/drone.png" alt="">
                </div>
                <div class="product__desc">
                    <p>DJI Mavic Mini Fly More Combo - Index Drone.</p>
                    <p><i class="uil uil-rupee-sign"></i>11,999</p>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="star">
                            <path fill="#2a51fb"
                                d="M17.56248,21.55957a1.00275,1.00275,0,0,1-.46531-.11475L12,18.76514,6.90283,21.44482a1.00019,1.00019,0,0,1-1.45117-1.0542l.97363-5.67578-4.12353-4.019a1.00033,1.00033,0,0,1,.5542-1.706l5.69873-.82813L11.103,2.99805a1.04173,1.04173,0,0,1,1.79394,0l2.54834,5.16357,5.69873.82813a1.00033,1.00033,0,0,1,.5542,1.706l-4.12353,4.019.97363,5.67578a1,1,0,0,1-.98586,1.169Z">
                            </path>
                        </svg>
                        3.6 (27)
                    </p>
                </div>
                <div class="buy-btn">
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>

            <div class="product__card ">
                <div class="product__image">
                    <img src="/images/buysell/product1/earpods.png" alt="">
                </div>
                <div class="product__desc">
                    <p>Krisons Zytel MaxoPods BT 5.1 Wireless Ear Pod.</p>
                    <p><i class="uil uil-rupee-sign"></i>5,299</p>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="star">
                            <path fill="#2a51fb"
                                d="M17.56248,21.55957a1.00275,1.00275,0,0,1-.46531-.11475L12,18.76514,6.90283,21.44482a1.00019,1.00019,0,0,1-1.45117-1.0542l.97363-5.67578-4.12353-4.019a1.00033,1.00033,0,0,1,.5542-1.706l5.69873-.82813L11.103,2.99805a1.04173,1.04173,0,0,1,1.79394,0l2.54834,5.16357,5.69873.82813a1.00033,1.00033,0,0,1,.5542,1.706l-4.12353,4.019.97363,5.67578a1,1,0,0,1-.98586,1.169Z">
                            </path>
                        </svg>
                        4.4 (12)
                    </p>
                </div>
                <div class="buy-btn">
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>

            <div class="product__card ">
                <div class="product__image">
                    <img src="/images/buysell/product1/laptop.png" alt="">
                </div>
                <div class="product__desc">
                    <p>Dell G16 Intel Gaming Laptop.</p>
                    <p><i class="uil uil-rupee-sign"></i>49,999</p>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="star">
                            <path fill="#2a51fb"
                                d="M17.56248,21.55957a1.00275,1.00275,0,0,1-.46531-.11475L12,18.76514,6.90283,21.44482a1.00019,1.00019,0,0,1-1.45117-1.0542l.97363-5.67578-4.12353-4.019a1.00033,1.00033,0,0,1,.5542-1.706l5.69873-.82813L11.103,2.99805a1.04173,1.04173,0,0,1,1.79394,0l2.54834,5.16357,5.69873.82813a1.00033,1.00033,0,0,1,.5542,1.706l-4.12353,4.019.97363,5.67578a1,1,0,0,1-.98586,1.169Z">
                            </path>
                        </svg>
                        4.8 (28)
                    </p>
                </div>
                <div class="buy-btn">
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>

            <div class="product__card ">
                <div class="product__image">
                    <img src="/images/buysell/product1/phone.png" alt="">
                </div>
                <div class="product__desc">
                    <p>Samsung Galaxy A05 08/128 GB.</p>
                    <p><i class="uil uil-rupee-sign"></i>8,999</p>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="star">
                            <path fill="#2a51fb"
                                d="M17.56248,21.55957a1.00275,1.00275,0,0,1-.46531-.11475L12,18.76514,6.90283,21.44482a1.00019,1.00019,0,0,1-1.45117-1.0542l.97363-5.67578-4.12353-4.019a1.00033,1.00033,0,0,1,.5542-1.706l5.69873-.82813L11.103,2.99805a1.04173,1.04173,0,0,1,1.79394,0l2.54834,5.16357,5.69873.82813a1.00033,1.00033,0,0,1,.5542,1.706l-4.12353,4.019.97363,5.67578a1,1,0,0,1-.98586,1.169Z">
                            </path>
                        </svg>
                        3.6 (14)
                    </p>
                </div>
                <div class="buy-btn">
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>

            <div class="product__card ">
                <div class="product__image">
                    <img src="/images/buysell/product1/speaker.png" alt="">
                </div>
                <div class="product__desc">
                    <p>Sony Srs-Xb13 Wireless Bluetooth Speaker.</p>
                    <p><i class="uil uil-rupee-sign"></i>1,599</p>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="star">
                            <path fill="#2a51fb"
                                d="M17.56248,21.55957a1.00275,1.00275,0,0,1-.46531-.11475L12,18.76514,6.90283,21.44482a1.00019,1.00019,0,0,1-1.45117-1.0542l.97363-5.67578-4.12353-4.019a1.00033,1.00033,0,0,1,.5542-1.706l5.69873-.82813L11.103,2.99805a1.04173,1.04173,0,0,1,1.79394,0l2.54834,5.16357,5.69873.82813a1.00033,1.00033,0,0,1,.5542,1.706l-4.12353,4.019.97363,5.67578a1,1,0,0,1-.98586,1.169Z">
                            </path>
                        </svg>
                        4.4 (20)
                    </p>
                </div>
                <div class="buy-btn">
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>

            <div class="product__card">
                <div class="product__image">
                    <img src="/images/buysell/product1/tablet.png" alt="">
                </div>
                <div class="product__desc">
                    <p>Lenovo Tab M10 Plus (3rd Gen) 10.</p>
                    <p><i class="uil uil-rupee-sign"></i>12,999</p>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="star">
                            <path fill="#2a51fb"
                                d="M17.56248,21.55957a1.00275,1.00275,0,0,1-.46531-.11475L12,18.76514,6.90283,21.44482a1.00019,1.00019,0,0,1-1.45117-1.0542l.97363-5.67578-4.12353-4.019a1.00033,1.00033,0,0,1,.5542-1.706l5.69873-.82813L11.103,2.99805a1.04173,1.04173,0,0,1,1.79394,0l2.54834,5.16357,5.69873.82813a1.00033,1.00033,0,0,1,.5542,1.706l-4.12353,4.019.97363,5.67578a1,1,0,0,1-.98586,1.169Z">
                            </path>
                        </svg>
                        2.6 (75)
                    </p>
                </div>
                <div class="buy-btn">
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>

            <div class="product__card ">
                <div class="product__image">
                    <img src="/images/buysell/product1/tv.png" alt="">
                </div>
                <div class="product__desc">
                    <p>LYF 81.28 cm (32 Inch) HD Smart TV, Black</p>
                    <p><i class="uil uil-rupee-sign"></i>8,999</p>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="star">
                            <path fill="#2a51fb"
                                d="M17.56248,21.55957a1.00275,1.00275,0,0,1-.46531-.11475L12,18.76514,6.90283,21.44482a1.00019,1.00019,0,0,1-1.45117-1.0542l.97363-5.67578-4.12353-4.019a1.00033,1.00033,0,0,1,.5542-1.706l5.69873-.82813L11.103,2.99805a1.04173,1.04173,0,0,1,1.79394,0l2.54834,5.16357,5.69873.82813a1.00033,1.00033,0,0,1,.5542,1.706l-4.12353,4.019.97363,5.67578a1,1,0,0,1-.98586,1.169Z">
                            </path>
                        </svg>
                        4.9 (5)
                    </p>
                </div>
                <div class="buy-btn">
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>

        </div>
    </section>

    <section class="container stores_categories">
        <h2>Shop by Category</h2>
        <div class="store__category">

            <div class="store__items">
                <div class="items">
                    <div class="item-image">
                        <img src="/images/buysell/Shop_items/laptop.png" alt="">
                    </div>
                    <h4>Computers</h4>
                </div>
            </div>
            <div class="store__items">
                <div class="items">
                    <div class="item-image">
                        <img src="/images/buysell/Shop_items/phone.png" alt="">
                    </div>
                    <h4>Mobiles</h4>
                </div>
            </div>
            <div class="store__items">
                <div class="items">
                    <div class="item-image">
                        <img src="/images/buysell/Shop_items/drone.png" alt="">
                    </div>
                    <h4>Drone and Gadegets</h4>
                </div>
            </div>
            <div class="store__items">
                <div class="items">
                    <div class="item-image">
                        <img src="/images/buysell/Shop_items/sale.png" alt="">
                    </div>
                    <h4>Sale</h4>
                </div>
            </div>
            <div class="store__items">
                <div class="items">
                    <div class="item-image">
                        <img src="/images/buysell/Shop_items/tablet.png" alt="">
                    </div>
                    <h4>Tablet</h4>
                </div>
            </div>
            <div class="store__items">
                <div class="items">
                    <div class="item-image">
                        <img src="/images/buysell/Shop_items/badge.png" alt="">
                    </div>
                    <h4>Best Sellers</h4>
                </div>
            </div>
            <div class="store__items">
                <div class="items">
                    <div class="item-image">
                        <img src="/images/buysell/Shop_items/tv.png" alt="">
                    </div>
                    <h4>T.V & Home Appliences</h4>
                </div>
            </div>
            <div class="store__items">
                <div class="items">
                    <div class="item-image">
                        <img src="/images/buysell/Shop_items/watch.png" alt="">
                    </div>
                    <h4>Wearable</h4>
                </div>
            </div>
            <div class="store__items">
                <div class="items">
                    <div class="item-image">
                        <img src="/images/buysell/Shop_items/speaker.png" alt="">
                    </div>
                    <h4>Speakers</h4>
                </div>
            </div>
            <div class="store__items">
                <div class="items">
                    <div class="item-image">
                        <img src="/images/buysell/Shop_items/earphone.png" alt="">
                    </div>
                    <h4>Earphones</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="container newslatters">
        <h2>Newsletter</h2>
        <p>Sign up to receive updates on new arrivals and special offers</p>
        <div class="input-wrapper">
            <input type="text" placeholder="Your Email Here">
            <a href="#" class="news-btn btn btn-primary">Subscribe</a>
        </div>
    </section>

    <footer class="footer">
        <div class="container footer__container">
            <div class="footer__1">
                <a href="index" class="footer__logo">
                    <img src="Designing/images/fulllogo.png" alt="">
                </a>
                <p>Discover a wide range of state-of-the-art college education facilities.</p>
            </div>

            <div class="footer__2">
                <h4>Permalinks</h4>
                <ul class="permalinks">
                    <li><a href="index">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="facilities">More Facilities</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>

            <div class="footer__3">
                <h4>Privacy</h4>
                <ul class="privacy">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Refund Policy</a></li>
                </ul>
            </div>

            <div class="footer__4">
                <h4>Contact Us</h4>
                <div>
                    <p>+91 9876543210</p>
                    <p>gautam@gmail.com</p>
                </div>
                <ul class="footer__socials">
                    <li><a href="#"><i class="uil uil-facebook-f"></i></a></li>
                    <li><a href="#"><i class="uil uil-instagram"></i></a></li>
                    <li><a href="#"><i class="uil uil-twitter"></i></a></li>
                    <li><a href="#"><i class="uil uil-linkedin"></i></a></li>
                </ul>
            </div>

        </div>
        <div class="footer__copyright">
            <small>Copyright &copy; YourAcademy </small>
        </div>
    </footer>

    <script src="/js/script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script class="buysellcrousel">
        var buysellswiper = new Swiper(".buysellSwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            autoplay: {
                delay: 3000,
            },
        });
    </script>

    <script class="product1crousel">
        const product1swiper = new Swiper('.product1swiper', {
            slidesPerView: 1,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            <!-- autoplay: {
                delay: 3000,
            }, -->
        });
    </script>
</body>